# Ways to get the data from different files

### First from csv file

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Resp2.csv')
data.head()

   experience  respiration
0           0         3.94
1           0         4.26
2           0         4.16
3           0         3.76
4           0         4.07

In [3]:
# read csv with seprator
data = pd.read_csv('winequality-red.csv',sep=';')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### Read in excel

In [7]:
data = pd.ExcelFile('boston1.xls')
print(data.sheet_names)

['Sheet1', 'Sheet2']

In [8]:
df1 = data.parse('Sheet1')

df1.head()

,MV,INDUS,NOX,RM,TAX,PT,LSTAT,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,24.0,2.31,53.8,6.575,296,15.3,4.98,NaN,NaN,Subset of Boston housing tract
1,21.6,7.07,46.9,6.421,242,17.8,9.14,NaN,NaN,data of Harrison and Rubinfeld
2,34.7,7.07,46.9,7.185,242,17.8,4.03,NaN,NaN,(1978). Each case is one U.S.
3,33.4,2.18,45.8,6.998,222,18.7,2.94,NaN,NaN,Census tract in the Boston area.
4,36.2,2.18,45.8,7.147,222,18.7,5.33,NaN,NaN,NaN

## Read in HTML data

In [10]:
import htmlmin

In [11]:
uss=pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

In [13]:
len(uss)

1

In [16]:
u = uss[0] #grab dataframe from index 0
print(type(u))
u.head()

<class 'pandas.core.frame.DataFrame'>

  Flag, name andpostal abbreviation [1]  \
  Flag, name andpostal abbreviation [1]
0                               Alabama
1                                Alaska
2                               Arizona
3                              Arkansas
4                            California

                                                Cities  \
  Flag, name andpostal abbreviation [1].1      Capital
0                                      AL   Montgomery
1                                      AK       Juneau
2                                      AZ      Phoenix
3                                      AR  Little Rock
4                                      CA   Sacramento

                             Established[A] Population[3] Total area[4]  \
  Largest (by population)[5] Established[A] Population[3]           mi2
0                 Huntsville   Dec 14, 1819       5024279         52420
1                  Anchorage    Jan 3, 1959        733391        665384
2                    Phoenix   Feb 14, 1912       7151502        113990
3                Little Rock   Jun 15, 1836       3011524         53179
4                Los Angeles    Sep 9, 1850      39538223        163695

           Land area[4]          Water area[4]         Numberof Reps.
       km2          mi2      km2           mi2     km2 Numberof Reps.
0   135767        50645   131171          1775    4597              7
1  1723337       570641  1477953         94743  245384              1
2   295234       113594   294207           396    1026              9
3   137732        52035   134771          1143    2961              4
4   423967       155779   403466          7916   20501             52

In [17]:
whsPH=pd.read_html('https://en.wikipedia.org/wiki/List_of_World_Heritage_Sites_in_the_Philippines')

In [18]:
len(whsPH)

12

In [20]:
print(type(whsPH))

<class 'list'>

In [23]:
print(whsPH[3])

  vteLists of World Heritage Sites in Asia  \
0                Northern and Central Asia
1      Western Asia(including Arab States)
2                             Eastern Asia
3                            Southern Asia
4                           Southeast Asia

          vteLists of World Heritage Sites in Asia.1  \
0  Kazakhstan Kyrgyzstan Russia former Soviet Uni...
1  Armenia Azerbaijan Bahrain Cyprus Georgia Iran...
2       China Japan Mongolia North Korea South Korea
3  Afghanistan Bangladesh India Nepal Pakistan Sr...
4  Cambodia Indonesia Laos Malaysia Myanmar Phili...

   vteLists of World Heritage Sites in Asia.2
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN